*{
  box-sizing: border-box;
}

main{
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

header a{
  text-decoration: none;
  color: black;
}

header .logo{
  font-weight: bold;
}

header nav{
  display: flex;
  gap: 15px;
}

img{
  max-width: 250px;
  height: auto;
}

.post{
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  display: flex;
}
.text{
  max-width: 50%;
  margin: 0;
}

.info{
  margin: 6px 0;
  margin-left: 0;
  color: #888;
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  justify-content: left;
  gap: 10px;
}

.info .author{
  font-weight: bolder;
  color: black;
  margin-left: 6px ;
}

.login, .register{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

input{
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 7px;
  background-color: #eee;
  border: 2px solid #ddd;
  border-radius: 5px;
}

button{
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: white;
  border-radius: 5px;
  padding: 7px 0;
}

.post-page .image{
  max-height:300px;
  display: flex;
  overflow:hidden;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}
.post-page .image img{
  object-fit: cover;
  width: 150%;
}
div.post-page h1{
  text-align: center;
  margin: 10px 0 5px;
  margin-bottom: 50px;
}

.post-page .content{
  text-align: center;
}